<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/movie-detail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>BigScreen</title>

</head>

<body class="detail-body backgroundimage">

    <style>
        @media (min-width: 768px) {
            .backgroundimage {
                background-image: url('/images/backgrounds/<%= product.background %>');
            }
        }
    </style>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

    <main class="detail-main-container">
        
        <div class="details-container">

            <div class="poster-info-container">

                <img src="/images/products/<%= product.image %>" alt="movie-poster" class="poster-detail">

            </div>

            <div class="trailer-description-container">

                <div class="movie-info">
                    <h3><%= product.name %> </h3>
                    <p> <strong>Director:</strong> <%= product.director %>  <br>
                        <strong>Actores:</strong> <%= product.actors %> <br>
                        <strong>Género:</strong> <%= product.genre %> <br>
                        <strong>Duración:</strong> <%= product.duration %> min.
                    </p>
                    <span><%= product.description %></span>
                </div>
                
                <div class="trailer-container">
                    <iframe src="<%= product.trailer %>" frameborder="0" allowfullscreen="allowfullscreen" class="trailer-movie" width="420" height="315"></iframe>
                </div>
                
                <div class="contenedor-button-compra">
                    <a href="/movies/<%=product.id%>/asientos"><button type="submit" class="login-button"> <strong> Comprá tu entrada </strong> </button></a>
                </div>

            </div>

        </div>

        <script type="text/javascript">
            function ConfirmDelete(){
                var respuesta = confirm("Eliminar película");
                if (respuesta == true) {
                    return true;
                } else {
                    return false;
                }
            }
         </script>
        
        <% if (locals.isAdmin) { %>
        
            <div class="edit-delete-container">
                <form action="/movies/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <div class="contenedor-button-compra">
                        <button type="submit" class="login-button" onclick="return ConfirmDelete()"> <strong> Eliminar película </strong> </button>
                    </div>
                </form>
                <form action="/movies/detail/<%= product.id %>/edit" method="GET">
                    <div class="contenedor-button-compra">
                        <button type="submit" class="login-button"> <strong> Editar película </strong> </button>
                    </div>
                </form>
            </div>

        <% } %>

    </main>

    <footer>
        <%- include ./partials/footerPartial.ejs %>
    </footer>
</body>
</html>