<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <title>Añadir película</title>
</head>

<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

    <main>
        
        <div class="main-form-div">
        
            <!--<img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="login-logo">-->

            <div class="login-text-container"> <p>AÑADIR PELÍCULA</p> </div>
            
            <form action="/movies/create" method="POST" id="product-create-form" enctype="multipart/form-data">

                <div class="contenedor-input" id="name-box">
                    <input type="text" name="name" id="name" placeholder="Nombre de la película" class="campos-texto" value="<%= locals.oldData ? oldData.name : null %>">
                </div>
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>

                <div class="contenedor-textarea" id="description-box">
                    <textarea type="text" name="description" id="description" placeholder="Sinopsis de la película" class="campos-texto" value="<%= locals.oldData ? oldData.description : null %>"></textarea>
                </div>
                <% if (locals.errors && errors.description) { %>
                    <div class="text-danger">
                        <%= errors.description.msg %>
                    </div>
                <% } %>

                <!-- <div class="contenedor-input" id="director-box"> -->
                    <select class="director-select" id="director" name="director" multiple="multiple" value="<%= locals.oldData ? oldData.director : null %>">
                        <!-- <option disabled selected>Director de la película:</option> -->
                        <% allDirectors.forEach(director => { %>
                            <option value="<%= director.id %>"><%= director.name %> <%= director.surname %></option>
                        <% }) %>
                    </select>
                <!-- </div> -->
                <% if (locals.errors && errors.director) { %>
                    <div class="text-danger-director">
                        <%= errors.director.msg %>
                    </div>
                <% } %>

                <!-- <div class="contenedor-input" > -->
                    <select class="actors-select" name="actors" id="actorsSelect" multiple="multiple" value="">
                        <% allActors.forEach(actor => { %>
                            <option  value="<%= actor.id %>"><%= actor.name %> <%= actor.surname %></option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.actors) { %>
                        <div class="text-danger-actors">
                            <%= errors.actors.msg %>
                        </div>
                    <% } %>

                <div class="contenedor-input" id="genre-box">
                    <select id="genre" name="genre" value="<%= locals.oldData ? oldData.genre : null %>">
                        <option disabled selected>Género de la película:</option>
                        <% allGenres.forEach(genre => { %>
                            <option value="<%= genre.id %>"><%= genre.name %> </option>
                        <% }) %>
                    </select>
                </div>
                <% if (locals.errors && errors.genre) { %>
                    <div class="text-danger">
                        <%= errors.genre.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="duration-box">
                    <input type="number" name="duration" id="duration" placeholder="Duración de la película" class="campos-texto" value="<%= locals.oldData ? oldData.duration : null %>">
                </div>
                <% if (locals.errors && errors.duration) { %>
                    <div class="text-danger">
                        <%= errors.duration.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="category-box">
                    <select id="category" name="category" value="<%= locals.oldData ? oldData.category : null %>">
                        <option disabled selected>Categoría de la película:</option>
                        <% allCategories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.name %> </option>
                        <% }) %>
                    </select>
                </div>
                <% if (locals.errors && errors.category) { %>
                    <div class="text-danger">
                        <%= errors.category.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="price-box">
                    <input type="number" name="price" id="price" placeholder="Precio de la película" class="campos-texto" value="<%= locals.oldData ? oldData.price : null %>">
                </div>
                <% if (locals.errors && errors.price) { %>
                    <div class="text-danger">
                        <%= errors.price.msg %>
                    </div>
                <% } %>
                
                <label for="poster" class="image-label" id="poster-box"><p>Poster</p><i class="fas fa-image pic-icon" id="posterIcon"></i></label>
                <div class="contenedor-input-hidden">
                    <input type="file" name="poster" id="poster" class="campos-texto-hidden" value="">               
                </div>
                <% if (locals.errors && errors.poster) { %>
                    <div class="text-danger">
                        <%= errors.poster.msg %>
                    </div>
                <% } %>

                <label for="background" class="image-label" id="background-box"><p>Imagen de fondo del detalle</p><i class="fas fa-image pic-icon" id="backgroundIcon"></i></label>
                <div class="contenedor-input-hidden">
                    <input type="file" name="background" id="background" class="campos-texto-hidden" value="">               
                </div>
                <% if (locals.errors && errors.background) { %>
                    <div class="text-danger">
                        <%= errors.background.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="trailer-box">
                    <input type="url" name="trailer" id="trailer" placeholder="URL del trailer" class="campos-texto" value="<%= locals.oldData ? oldData.trailer : null %>">
                </div>
                <% if (locals.errors && errors.trailer) { %>
                    <div class="text-danger">
                        <%= errors.trailer.msg %>
                    </div>
                <% } %>

                <div class="contenedor-button">
                    <button type="submit" class="login-button"><strong>Guardar Película</strong></button>
                </div>

            </form>
        </div>
    </main>
    <script src="/javascripts/product-create-form.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</body>