<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Añadir película</title>
</head>

<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

<main>
    
    <div class="main-form-div">
    
        <!--<img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="login-logo">-->

        <div class="login-text-container"> <p>EDITAR PELÍCULA: <br> <%= product.name %>  </p> </div>
        
        <form action="/movies/<%= product.id %>?_method=PUT" method="POST" >

            <div class="contenedor-input">
                <input type="text" name="name" id="name" placeholder="Nombre de la película" class="campos-texto" value="<%= product.name %>">
            </div>

            <div class="contenedor-textarea">
                <textarea type="text" name="description" id="description" placeholder="Sinopsis de la película" class="campos-texto"><%= product.description %></textarea>
            </div>

            <div class="contenedor-input">
                <input type="text" name="director" id="director" placeholder="Director de la película" class="campos-texto" value="<%= product.director %>">
            </div>

            <div class="contenedor-input">
                <input type="text" name="actors" id="actors" placeholder="Actores de la película" class="campos-texto" value="<%= product.actors %>">
            </div>

            <div class="contenedor-input">
                <input type="text" name="genre" id="genre" placeholder="Género de la película" class="campos-texto" value="<%= product.genre %>">
            </div>

            <div class="contenedor-input">
                <input type="number" name="duration" id="duration" placeholder="Duración de la película" class="campos-texto" value="<%= product.duration %>">
            </div>

            <div class="contenedor-input">
                <select id="category" name="category" value="<%= product.category %>">
                    <option disabled selected>Categoría de la película:</option>
                    <option value="estrenos">Principal</option>
                    <option value="próximamente">Próximos estrenos</option>
                </select>
            </div>

            <div class="contenedor-input">
                <input type="number" name="price" id="price" placeholder="Precio de la película" class="campos-texto" value="<%= product.price %>">
            </div>

            <label for="image">Poster de la película</label>
            <div class="contenedor-input">
                <input type="file" name="image" id="image" placeholder="Póster de la película" class="campos-texto" value="<%= product.image %>">
            </div>

            <label for="background">Imagen de fondo del detalle</label>
            <div class="contenedor-input">
                <input type="file" name="background" id="background" placeholder="Imagen de fondo" class="campos-texto" value="">
            </div>

            <div class="contenedor-input">
                <input type="url" name="trailer" id="trailer" placeholder="URL del trailer" class="campos-texto" value="<%= product.trailer %>">
            </div>

            <div class="contenedor-button">
                <button type="submit" class="login-button"><strong>Guardar Película</strong></button>
            </div>

        </form>
    </div>
</main>