<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Añadir película</title>
</head>

<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

<main>
    
    <div class="main-form-div">
    
        <!--<img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="login-logo">-->

        <div class="login-text-container"> <p>AÑADIR PELÍCULA</p> </div>
        
        <form action="/movies" method="POST" enctype="multipart/form-data">

            <div class="contenedor-input">
                <input type="text" name="name" id="name" placeholder="Nombre de la película" class="campos-texto" value="">
            </div>

            <div class="contenedor-textarea">
                <textarea type="text" name="description" id="description" placeholder="Sinopsis de la película" class="campos-texto" value=""></textarea>
            </div>

            <div class="contenedor-input">
                <select id="director" name="director">
                    <option disabled selected>Director de la película:</option>
                    <% allDirectors.forEach(director => { %>
                        <option value="<%= director.id %>"><%= director.name %> <%= director.surname %></option>
                    <% }) %>
                </select>
            </div>

            <!-- <div class="contenedor-input">
                <input type="text" name="actors" id="actors" placeholder="Actores de la película" class="campos-texto" value="">
            </div> -->

            <div class="contenedor-input">
                <select id="genre" name="genre">
                    <option disabled selected>Genero de la película:</option>
                    <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %> </option>
                    <% }) %>
                </select>
            </div>

            <div class="contenedor-input">
                <input type="number" name="duration" id="duration" placeholder="Duración de la película" class="campos-texto" value="">
            </div>

            <div class="contenedor-input">
                <select id="category" name="category">
                    <option disabled selected>Categoría de la película:</option>
                    <% allCategories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %> </option>
                    <% }) %>
                </select>
            </div>

            <div class="contenedor-input">
                <input type="number" name="price" id="price" placeholder="Precio de la película" class="campos-texto" value="">
            </div>

            <div>Poster de la película</div>
            <div class="contenedor-input">
                <input type="file" name="poster" id="poster" placeholder="Póster de la película" class="campos-texto" value="">
            </div>

            <div>Imagen de fondo del detalle</div>
            <div class="contenedor-input">
                <input type="file" name="background" id="background" placeholder="Imagen de fondo" class="campos-texto" value="">
            </div>

            <div class="contenedor-input">
                <input type="url" name="trailer" id="trailer" placeholder="URL del trailer" class="campos-texto" value="">
            </div>

            <div class="contenedor-button">
                <button type="submit" class="login-button"><strong>Guardar Película</strong></button>
            </div>

        </form>
    </div>
</main>