<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Perfil</title>
</head>
<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

    <main>
        <div class="main-container">
            <div class="profile-pic-container">
                <img src="/images/users/<%= user.profile_pic %> " alt="profile pic" class="profile-pic-img">
            </div>
            <div class="user-info-container">
                <div class="user-box">
                    <p class="user-title">NOMBRE</p>
                        <form action="" class="user-edit-form">
                            <input type="text" name="name" id="name" placeholder="Nombre" value="<%= user.name %>" class="campos-texto-edit">
                        </form>
                </div>
                <div class="user-box">
                    <p class="user-title">APELLIDO</p>
                        <form action="" class="user-edit-form">
                            <input type="text" name="surname" id="surname" value="<%= user.surname %>" class="campos-texto-edit">
                        </form>
                </div>
                <div class="user-box">
                    <p class="user-title">EMAIL</p>
                    <form action="" class="user-edit-form">
                        <input type="email" name="email" id="email" value="<%= user.email %>" class="campos-texto-edit">
                    </form>
                </div>
                <div class="user-box">
                    <p class="user-title">TELÉFONO</p>
                    <form action="" class="user-edit-form">
                        <input type="number" name="phone" id="phone" value="<%= user.phone %>" class="campos-texto-edit">
                    </form>
                </div>
                <div class="user-box">
                        <p class="user-title">COMPLEJO</p>
                        <form action="" class="user-edit-form">
                            <input type="text" name="complex" id="complex" value="<%= user.complex.name %>" class="campos-texto-edit">
                        </form>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <form action="/users/logout" class="logout-btn-container">
                <button type="submit" class="login-btn"><strong>Cerrar Sesión</strong></button>
            </form>
            <form action="/users/logout" class="edit-btn-container">
                <button type="submit" class="login-btn"><strong>Guardar Cambios</strong></button>
            </form>
        </div>
    </main>

    <footer>
        <%- include ./partials/footerPartial.ejs %>
    </footer>
</body>
</html>