<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>Perfil</title>
</head>
<body>

    <header>
        <%- include ./partials/headerPartial.ejs %>
    </header>

    <main>
        <div class="main-container">
            <div class="profile-pic-container">
                <img src="/images/users/<%= user.profilePic %> " alt="profile pic" class="profile-pic-img">
            </div>
            <div class="user-info-container">
                <div class="user-box">
                    <p class="user-title">NOMBRE DE USUARIO</p><p class="user-info"><%= user.name %> <%= user.surname %></p>
                </div>
                <div class="user-box">
                    <p class="user-title">EMAIL</p><p class="user-info"><%= user.email %></p>
                </div>
                <div class="user-box">
                        <p class="user-title">TELÉFONO</p><p class="user-info"><%= user.phone %></p>
                </div>
                <div class="user-box">
                        <p class="user-title">COMPLEJO DE PREFERENCIA</p><p class="user-info"><%= user.complex %></p>
                </div>
            </div>
        </div>
            <form action="/users/logout" class="logout-btn-container">
                <button type="submit" class="login-btn"><strong>Cerrar sesión</strong></button>
            </form>
    </main>

    <footer>
        <%- include ./partials/footerPartial.ejs %>
    </footer>
</body>
</html>