<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="stylesheet" href="/css/login-register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    
    <title>Registrarse</title>

    
</head>

<body>

    <!-- <header>
        <div class="burger-logo">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img class="logo-header" src="\images\BIGSCREENpng.svg"> 
        </div>

        <div class="lupa-iniciar">
            <form class="contenedor-barra-busqueda">
                <input type="text" placeholder="Buscar películas" name="busqueda" class="barra-busqueda"> 
                <a href="" class="icono-busqueda">
                    <i class="fas fa-search"></i>
                </a>
            </form>

            <p class="header-login-button"><a href="/login">Iniciar Sesión</a></p>

            <p class="header-signup-button"><a href="/register">Registrarse</a></p>

        </div>
    </header> -->

    <main>
            
        <a href="/" class="login-logo"> <img src="\images\logos\BIGSCREENpng2.svg"> </a>
        
        <div class="main-login-div">
        
            <!--<img src="\images\BIGSCREENpng.svg" alt="BigScreen" class="login-logo">-->

            <div class="login-text-container"> <p>REGISTRARSE</p> </div>
            
            <form action="/users/register" method="POST" enctype="multipart/form-data" id="register-form">
                
                <div class="contenedor-input" id="name-box">
                    <input type="text" name="name" id="name" placeholder="Nombre" class="campos-texto" value="<%= locals.oldData ? oldData.name : null %>">
                </div>
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="surname-box">
                    <input type="text" name="surname" id="surname" placeholder="Apellido" class="campos-texto" value="<%= locals.oldData ? oldData.surname : null %>">
                </div>
                <% if (locals.errors && errors.surname) { %>
                    <div class="text-danger">
                        <%= errors.surname.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="email-box">
                    <input type="email" name="email" id="email" placeholder="E-Mail" class="campos-texto" value="<%= locals.oldData ? oldData.email : null %>">
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="phone-box">
                    <input type="number" name="phone" id="phone" placeholder="Télefono" class="campos-texto" value="<%= locals.oldData ? oldData.phone : null %>">
                </div>
                <% if (locals.errors && errors.phone) { %>
                    <div class="text-danger">
                        <%= errors.phone.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input">
                    <select id="complex" name="complex">
                        <option disabled selected>Elegí tu complejo de preferencia:</option>
                        <% allComplex.forEach(complex => { %>
                            <option value="<%= complex.id %>"><%= complex.name %> </option>
                        <% }) %>
                    </select>
                </div>
                <% if (locals.errors && errors.complex) { %>
                    <div class="text-danger">
                        <%= errors.complex.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="password-box">
                    <input type="password" name="password" id="password" placeholder="Crear Contraseña (min. 8 caracteres)" class="campos-texto">
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>

                <div class="contenedor-input" id="confirmpassword-box">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" class="campos-texto">
                </div>
                <% if (locals.errors && errors.confirmPassword) { %>
                    <div class="text-danger">
                        <%= errors.confirmPassword.msg %>
                    </div>
                <% } %>

                <label for="profile_pic" class="image-label" id="profilepic-box"><p>Imágen de perfil</p><i class="fas fa-image pic-icon" id="pic-icon"></i></label>
                <div class="contenedor-input-hidden">
                    <input type="file" name="profile_pic" id="profile_pic" class="campos-texto-hidden" value="">               
                </div>

                <% if (locals.errors && errors.profilePic) { %>
                    <div class="text-danger">
                        <%= errors.profilePic.msg %>
                    </div>
                <% } %>

                <div class="contenedor-button">
                    <button type="submit" class="login-button"><strong>Registrarse</strong></button>
                </div>

            </form>
        </div>

        <p class="not-registered">¿Ya estás registrado? <a href="/users/login" class="create-account">Iniciá sesión</a></p>

    </main>

    <script type="text/javascript" src="/javascripts/register.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</body>