<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/carrito.css" />
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="icon" type="image/png" href="../images/logos/favicon.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Big Screen</title>
  </head>

<body class="detail-body backgroundimage">
    <header>
      <%- include ./partials/headerPartial.ejs %>
    </header>

<main class="detail-main-container">

  <div class="asientos-container details-container">

      <body class="detail-body backgroundimage">

        <style>
            @media (min-width: 768px) {
                .backgroundimage {
                    background-image: url('/images/backgrounds/<%= product.background %>');
                }
            }
        </style>

    <div class="movie-title">Elegí tus asientos: <br> <strong><%= product.name %></strong> </div>

    <form>
      <div id="flex">
        <div class="contenedor-de-opciones">
        <select id="Fecha">
          <option disabled selected>Seleccioná el día</option>
          <option value="Caballito">Lunes 01/01</option>
          <option value="Recoleta">Martes 02/01</option>
          <option value="Viernes">Miércoles 03/01</option>
          <option value="Jueves">Jueves 04/01</option>
          <option value="Nordelta">Viernes 05/01</option>   
        </select>

          <select id="Complejo">
            <option disabled selected>Seleccioná tu Sala</option>
            <option value="Caballito">BigScreen Complejo Caballito</option>
            <option value="Recoleta">BigScreen Complejo Recoleta</option>
            <option value="Nordelta">BigScreen Complejo Nordelta</option>   
          </select>

          <select id="Horario">
            <option disabled selected>Seleccioná el horario</option>
            <option value="15HS">15:00 hs</option>
            <option value="18HS">18:00 hs</option>
            <option value="21HS">21:00 hs</option>
            <option value="00HS">00:00 hs</option>   
          </select>
        </div>
      </div>
    </form>

        <ul class="showcase">
          <li>
            <div class="asiento"></div>
            <small>Disponible</small>
          </li>
          <li>
            <div class="asiento seleccionado"></div>
            <small>Seleccionado</small>
          </li>
          <li>
            <div class="asiento ocupado"></div>
            <small>Ocupado</small>
          </li>
        </ul>
        <div class="contenedor" id="seats-box">
          <div class="pantalla"></div>

          <% for( let i = 1; i <= 6; i++) { %>
          <div class="fila" id="f<%=i%>" name="f<%=i%>" value="f<%=i%>">
            <% for( let a = 1; a <= 8; a++ ) { %>
              <div class="asiento" id="a<%=i%><%=a%>" name="a<%=i%><%=a%>" value="a<%=i%><%=a%>"></div>
            <% } %> 
          </div>
          <% } %>
        </div>

  </div>

</main>

  <footer>
      <%- include ./partials/footerPartial.ejs %>
  </footer>

  <script type="text/javascript" src="/javascripts/seats.js"></script>
</body>
</html>