<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/movie-detail.css">
    <link rel="stylesheet" href="/css/seats.css" />
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/desktop.css">

    <link rel="icon" type="image/png" href="../images/logos/favicon.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <title>Big Screen</title>
  </head>

<body class="detail-body backgroundimage">
    <header>
      <%- include ./partials/headerPartial.ejs %>
    </header>

<main data-movie_title="<%= product.name %>" class="detail-main-container" id="main">

  <div class="asientos-container details-container">

      <body class="detail-body backgroundimage">

        <style>
            @media (min-width: 768px) {
                .backgroundimage {
                    background-image: url('/images/backgrounds/<%= product.background %>');
                }
            }
        </style>

    <div data-movie_id="<%= product.id %>" class="movie-title" id="movie-title">Elegí tus asientos: <br> <strong><%= product.name %></strong> </div>

    <form>
      <div id="flex">
        <div class="contenedor-de-opciones">
          <div class="select-box">
            <select id="Fecha">
              <option value='disabled' disabled selected>Seleccioná el día</option>
              <option value="Lunes_01/01">Lunes 01/01</option>
              <option value="Martes_02/01">Martes 02/01</option>
              <option value="Miércoles_03/01">Miércoles 03/01</option>
              <option value="Jueves_04/01">Jueves 04/01</option>
              <option value="Viernes_05/01">Viernes 05/01</option>   
            </select>
          </div>

          <div class="select-box">
            <select id="Complejo">
              <option value='disabled' disabled selected>Seleccioná tu Complejo</option>
              <% complex.forEach(c => { %>
                <option value="<%= c.id %>"><%= c.name %> </option>
              <% }) %>
              <!-- <option value="1">Caballito</option>
              <option value="2">Recoleta</option>
              <option value="3">Nordelta</option>   -->
            </select>
          </div>

          <div class="select-box">
            <select id="Horario">
              <option value='disabled' disabled selected>Seleccioná el horario</option>
              <option value="15HS">15:00 hs</option>
              <option value="18HS">18:00 hs</option>
              <option value="21HS">21:00 hs</option>
              <option value="00HS">00:00 hs</option>   
            </select>
          </div>
        </div>
      </div>
    </form>

        <ul class="showcase hidden" id="showcase">
          <li>
            <div class="asiento" style="cursor: default;"></div>
            <small>Disponible</small>
          </li>
          <li>
            <div class="selected" style="cursor: default;"></div>
            <small>Seleccionado</small>
          </li>
          <li>
            <div class="occupiedSeat" style="cursor: default;"></div>
            <small>Ocupado</small>
          </li>
        </ul>
        <div class="contenedor hidden" id="seats-box">
          <div class="pantalla"></div>

          <% for( let i = 1; i <= 6; i++) { %>
          <div class="fila" id="f<%=i%>" name="f<%=i%>" value="f<%=i%>">
            <% for( let a = 1; a <= 8; a++ ) { %>
              <div class="asiento" id="a<%=i%><%=a%>" name="a<%=i%><%=a%>" value="a<%=i%><%=a%>"></div>
            <% } %> 
          </div>
          <% } %>
        </div>

      <div class="button-box-disabled hidden" id="button-box">
        <button type="button" class="button-disabled" id="button-compra"><strong>Agregar al Carrito</strong></button>
      </div>

  </div>

</main>

  <footer>
      <%- include ./partials/footerPartial.ejs %>
  </footer>

  <script type="text/javascript" src="/javascripts/seats.js"></script>
</body>
</html>